{% extends 'adminpanel/base.html' %}
{% block content %}
    <h1>Course Modules </h1>
    <div class="container">
        <div class="module-fields">
            <div class="module-title">

            </div>
            <div class="module-description">
    
            </div>
            <br>
            <br>
            <a href="" class="btn btn-primary btn-sm" id="update-module-btn">Update</a>
            <a href="" class="btn btn-danger btn-sm" id="delete-module-btn">Delete</a>
            <hr>
        </div>
        


        <div class="row">
            <div class="module-contents col-8">
                <div class="module-contents-list">
                    <div class="table table-hover">
                        <div class="row">
                            <div class="col-9 text-center"><strong>Contents</strong></div>
                            <div class="col-2 text-center"><strong>Actions</strong></div>
                        </div>
                        <div class="row sortable"  hx-post="/sort_contents/" hx-trigger="end">
                            <div class="htmx-indicator">Updating...</div> 

                    
                        </div>
                    </div>
                </div>
                
                <div class="">
                    <a href="" class="btn btn-primary" id="create-content-btn">Add new content</a>
                </div>
            </div>
            <div class="module-lists col-4">
                <h2>Modules</h2>

                


                <div class="sortable list-group" hx-post="/sort_modules/" hx-trigger="end">
                    <div class="htmx-indicator">Updating...</div>
                {% for module in course.modules.all %}   
                    {% if forloop.first %}
                        <div class="list-group-item list-group-item-action active" aria-current="true" id="{{module.pk}}"><input type='hidden' name='item' value='{{module.pk}}'/>{{module.title}}</div>
                    {% else %}
                        <div class="list-group-item list-group-item-action" id="{{module.pk}}"><input type='hidden' name='item' value='{{module.pk}}' />{{module.title}}</div>
                    {% endif %}
                    {% empty %}
                        There is no modules yet
                {% endfor %}
                </div>
                <br><br>
                <a href="{% url 'create_module' course.slug %}" class="btn btn-primary">Add new module</a>
            </div>
        </div>
    </div>
    
    <script>
        
        let modules = document.querySelectorAll(".list-group-item");
        const create_content_btn = document.getElementById("create-content-btn");
        const update_module_btn = document.getElementById("update-module-btn");
        const delete_module_btn = document.getElementById("delete-module-btn");
        if(modules.length==0){
            
            create_content_btn.setAttribute("hidden","");
            update_module_btn.setAttribute("hidden","");
            delete_module_btn.setAttribute("hidden","");
        }
        else{

        const first_module = document.querySelector(".list-group-item.active");
        const first_module_id = first_module.getAttribute("id");
        let module_contents = document.querySelector(".module-contents-list");
        console.log("firstmodule id",first_module_id);
        fill_module_contents(first_module_id);
        function fill_module_contents(module_id) {

            // const create_content_btn = document.getElementById("create-content-btn");
            
            delete_module_btn.setAttribute("href","/teachers/course/module/delete/"+module_id);
            update_module_btn.setAttribute("href","/teachers/course/module/update/"+module_id);
            create_content_btn.setAttribute("href","/teachers/course/"+module_id+"/content/create/");



            fetch("/teachers/get_module_contents/"+module_id,{
            method:"GET",
           
        })
        .then(function (response){
            return response.json();
        })
        .then(function(data){
            
            const module_title = document.querySelector(".module-title");
            const module_description = document.querySelector(".module-description");
            module_title.innerHTML='<h3>Title:</h2>'+data.title+'<br>';
            module_description.innerHTML='<h3>Description:</h3>'+data.description+'<br>';
            let module_contents_innerHTML=``;
            `
            <div class="table table-hover">
                <div class="row">
                    <div class="col-9 text-center"><strong>Contents</strong></div>
                    <div class="col-2 text-center"><strong>Actions</strong></div>
                </div>
                <div class="row sortable"  hx-post="/sort_contents/" hx-trigger="end">
                    <div class="htmx-indicator">Updating...</div>  
            `;
            let single_content=""
            let contents=data['contents']
            for(let j=0;j<contents.length;j++){
                single_content=`

                <div class="col-12">
                    <input type="hidden" name="content" value="1"/>
                    <div class="row">
                        <div class="col-9">
                            <div>
                                <a href="/courses/content/`+contents[j].pk+'" class="list-group-item">'+contents[j].title+`</a>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="col-6">
                                    <a href="/teachers/course/content/update/`+contents[j].pk+`">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="/teachers/course/content/delete/`+contents[j].pk+`">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            `;
            
                module_contents_innerHTML+=single_content;    
            }
            module_contents_innerHTML+=
            `
                </div>
            </div>
            `
            console.log(module_contents_innerHTML);
            module_contents.innerHTML+=(module_contents_innerHTML);


            var sortables = document.querySelectorAll(".sortable");
            console.log(sortables.length);
            for (var i = 0; i < sortables.length; i++) {
                var sortable = sortables[i];
            
                new Sortable(sortable, {
                    animation: 150,
                    ghostClass: 'blue-background-class'
                });
            }
        })
        .catch(function(error){
            console.error("Error occured",error);
        })
 
        }


                
        for(let i=0;i<modules.length;i++){
            modules[i].addEventListener("click",function(){
                const active_element = document.querySelector(".list-group-item.active");
                active_element.classList.remove("active");
                modules[i].classList.add('active');
                fill_module_contents(modules[i].getAttribute("id"));
            })

            
        }

        }
        
    </script>
{% endblock %}