 <!-- End banner Area -->
{% extends 'base.html' %}

{% load static %}
{% block content %}
<!-- Start course-details Area -->
<section class="course-details-area pt-120">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 left-contents">
				<div class="main-image">
					<img class="img-fluid" src="{{course.picture_url}}" width="70%"  alt="">
				</div>
				<div class="jq-tab-wrapper" id="horizontalTab">
					<div class="jq-tab-menu">
						<div class="jq-tab-title active" data-tab="1">Course overview</div>
						<div class="jq-tab-title" data-tab="3">Course Outline</div>
						<div class="jq-tab-title" data-tab="4">Comments</div>
						<div class="jq-tab-title" data-tab="5">Reviews</div>
					</div>
					<div class="jq-tab-content-wrapper">
						<div class="jq-tab-content active" data-tab="1">
							{{course.overview}}
						</div>
						<div class="jq-tab-content" data-tab="3">
							<ul class="course-list accordion accordion-flush">
								{% for module in course.modules.all %}
								<li class="justify-content-between d-flex">
									<p>{{module.title}}</p>
									<a class="primary-btn text-uppercase" href="{% url 'module_details' module.pk %}">View Details</a>
								</li>
								{% empty %}

								{% endfor %}
							</ul>
						</div>
						<div class="jq-tab-content comment-wrap" data-tab="4">
							<div class="comments-area">
								<h4>{{course.comments.all.count}} Comments</h4>
								{% for comment in course.comments.all %}
								{% if request.user == comment.author %}
								<div class="comment-list left-padding">
									<div class="single-comment justify-content-between d-flex">
										<div class="user justify-content-between d-flex">
											<div class="thumb">
												<img src="img/blog/c2.jpg" alt="">
											</div>
											<div class="desc">
												<h5><a href="#">{{comment.author}}</a></h5>
												<p class="date">{{comment.date|date:'F d, Y, h:i a'}}</p>
												<p class="comment">
													{{comment.content}}
												</p>
											</div>
										</div>
										<!-- <div class="reply-btn">
						                                   <a href="" class="btn-reply text-uppercase">reply</a> 
						                            </div> -->
									</div>
								</div>
								{% else %}
								<div class="comment-list">
									<div class="single-comment justify-content-between d-flex">
										<div class="user justify-content-between d-flex">
											<div class="thumb">
												<img src="img/blog/c1.jpg" alt="">
											</div>
											<div class="desc">
												<h5><a href="#">{{comment.author}}</a></h5>
												<p class="date">{{comment.date|date:'F d, Y, h:i a'}}</p>
												<p class="comment">
													{{comment.content}}
												</p>
											</div>
										</div>
										<!-- <div class="reply-btn">
						                                   <a href="" class="btn-reply text-uppercase">reply</a> 
						                            </div> -->
									</div>
								</div>
								{% endif %}
								{% endfor %}
							</div>
							<div class="comment-form">
								<h4>Leave a Comment</h4>
								<form method="post" action="{% url 'postcomment' course.id %}">
									{% csrf_token %}
									<div class="form-group">
										<textarea class="form-control mb-10" rows="5" name="message"
											placeholder="Comment" onfocus="this.placeholder= ''"
											onblur="this.placeholder= 'Comment'" required=""></textarea>
									</div>
									<button type="submit" class="mt-40 text-uppercase genric-btn primary
										text-center">Post Comment</button>
								</form>
							</div>
						</div>
						<div class="jq-tab-content" data-tab="5">
							<div class="review-top row pt-40">
								<div class="col-lg-3">
									<div class="avg-review">
										Average <br>
										<span>{{course.average_rating}}</span> <br>
										<input type="hidden" id="myrate" value="{{myrate}}">
										({{course.ratings.count}} Ratings)
									</div>
								</div>
								<div class="col-lg-9">
									<h4 class="mb-20">Provide Your Rating</h4>
									<div class="star">
										<span class="rating fa fa-star" id="star1"></span>
										<span class="rating fa fa-star" id="star2"></span>
										<span class="rating fa fa-star" id="star3"></span>
										<span class="rating fa fa-star" id="star4"></span>
										<span class="rating fa fa-star" id="star5"></span>
									</div>
								</div>
							</div>
							<br>
							<div class="feedeback">
								<h4 class="pb-20">Your Feedback</h4>
								<form action="{% url 'feedback' course.id %}" method="post">
									{% csrf_token %}
									<textarea name="feedback" class="form-control" cols="10" rows="10"></textarea>
									<input type="text" style="display: none;" id="course-rating"
										name="rating">
									<!-- <a href="#" class="mt-20 primary-btn text-right text-uppercase">Submit</a> -->
									<button type="submit" class="mt-20 primary-btn text-right
										text-uppercase">Submit</button>
								</form>
							</div>
							<div class="comments-area mb-30">
								{% for rate in rates %}
								<div class="comment-list">
									<div class="single-comment single-reviews justify-content-between
										d-flex">
										<div class="user justify-content-between d-flex">
											<div class="thumb">
												<img src="img/blog/c1.jpg" alt="">
											</div>
											<div class="desc">
												<h5><a href="#">{{rate.author}}</a>
													<div class="star">
														{% for i in rate.stars %}
														<span class="fa fa-star checked"></span>
														{% endfor %}
														{% for i in rate.nostars %}
														<span class="fa fa-star"></span>
														{% endfor %}
													</div>
												</h5>
												<p class="comment">
													{{rate.feedback}}
												</p>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 right-contents">
				<ul>
					<li>
						<a class="justify-content-between d-flex" href="">
							<p>Trainer’s Name</p>
							<span>{{course.owner.first_name}} {{course.owner.last_name }}</span>
						</a>
					</li>
					<li>
						<a class="justify-content-between d-flex" href="">
							<p>Title</p>
							<span >{{ course.title }}</span>
						</a>
					</li>
					<li>
						<a class="justify-content-between d-flex" href="">
							<p>Course Fee </p>
							<span>${{course.price}}</span>
						</a>
					</li>
					{% comment %} <li>
						<a class="justify-content-between d-flex" href="">
							<p>Course duration </p>
							<span>{{course.duration}}</span>
						</a>
					</li> {% endcomment %}
				</ul>

				{% comment %} <button type="submit" class="primary-btn text-uppercase"
					id="entroll-button">
					Enroll the course
				</button> {% endcomment %}
	
				{% if request.user.is_authenticated and course in request.user.courses.all %}
				<a href="{% url 'course_content' course.pk %}" class="primary-btn text-uppercase">
					Go to course
				</a>
				{% else %}
				<a href="{% url 'checkout' course.pk %}" class="primary-btn text-uppercase"
					id="entroll-button">
					Enroll the course
				</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>
<!-- End course-details Area -->


<!-- Start popular-courses Area -->
{% comment %} <section class="popular-courses-area section-gap courses-page">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Popular Courses we offer</h1>
					<p>There is a moment in the life of any aspiring.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="single-popular-carusel col-lg-3 col-md-6">
				<div class="thumb-wrap relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="img/p1.jpg" alt="">
					</div>
					<div class="meta d-flex justify-content-between">
						<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
						<h4>$150</h4>
					</div>
				</div>
				<div class="details">
					<a href="#">
						<h4>
							Learn Designing
						</h4>
					</a>
					<p>
						When television was young, there was a hugely popular show based on the
						still popular fictional characte
					</p>
				</div>
			</div>
			<div class="single-popular-carusel col-lg-3 col-md-6">
				<div class="thumb-wrap relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="img/p2.jpg" alt="">
					</div>
					<div class="meta d-flex justify-content-between">
						<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
						<h4>$150</h4>
					</div>
				</div>
				<div class="details">
					<a href="#">
						<h4>
							Learn React js beginners
						</h4>
					</a>
					<p>
						When television was young, there was a hugely popular show based on the
						still popular fictional characte
					</p>
				</div>
			</div>
			<div class="single-popular-carusel col-lg-3 col-md-6">
				<div class="thumb-wrap relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="img/p3.jpg" alt="">
					</div>
					<div class="meta d-flex justify-content-between">
						<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
						<h4>$150</h4>
					</div>
				</div>
				<div class="details">
					<a href="#">
						<h4>
							Learn Photography
						</h4>
					</a>
					<p>
						When television was young, there was a hugely popular show based on the
						still popular fictional characte
					</p>
				</div>
			</div>
			<div class="single-popular-carusel col-lg-3 col-md-6">
				<div class="thumb-wrap relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="img/p4.jpg" alt="">
					</div>
					<div class="meta d-flex justify-content-between">
						<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
						<h4>$150</h4>
					</div>
				</div>
				<div class="details">
					<a href="#">
						<h4>
							Learn Surveying
						</h4>
					</a>
					<p>
						When television was young, there was a hugely popular show based on the
						still popular fictional characte
					</p>
				</div>
			</div>
			<a href="#" class="primary-btn text-uppercase mx-auto">Load More Courses</a>
		</div>
	</div>
</section> {% endcomment %}
<!-- End popular-courses Area -->

<!-- Start cta-two Area -->
<section class="cta-two-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 cta-left">
				<h1>Not Yet Satisfied with our Trend?</h1>
			</div>
			<div class="col-lg-4 cta-right">
				<a class="primary-btn wh" href="#">view our blog</a>
			</div>
		</div>
	</div>
</section>
<!-- End cta-two Area -->



{% csrf_token %}
<script src="https://js.stripe.com/v3/"></script>
<script>
				let stripe = Stripe('{{stripe_public_key}}');
				const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
				const entroll_btn = document.getElementById("entroll-button");
				{% comment %} entroll_btn.addEventListener('click',event => {
					console.log('Clicked');
					entroll_btn.disabled=true;
					fetch("{% url 'checkout' %}", {
					method: "POST",
					headers: {
            		'X-CSRFToken': csrftoken
        			}
				})
				.then(function (response) {
					return response.json();
					})
					.then(function (session) {
						console.log("session: ",session);
					return stripe.redirectToCheckout({ sessionId: session.sessionId });
					})
					.then(function (result) {
					// If redirectToCheckout fails due to a browser or network
					// error, you should display the localized error message to your
					// customer using error.message.
					if (result.error) {
						alert(result.error.message);
					}
					})
					.catch(function (error) {
					console.error("Error:", error);
					});
					});
				 {% endcomment %}
			</script>
<script>
				let stars = document.getElementsByClassName("rating");
				let myrate = document.getElementById("myrate").value;
				for(let i=0;i<myrate;i++){
					stars[i].classList.add("checked");
				}
				let courserating = document.getElementById("course-rating");
				for (let index = 1; index <= 5; index++) {
					let star = document.getElementById("star"+index);
					star.addEventListener("mouseover",function(){
						for(let i=0;i<index;i++){
							stars[i].classList.add("checked");
						}
						for(let j=index;j<5;j++){
							stars[j].classList.remove("checked")
						}
						star.style.cursor="pointer";
						courserating.value = index;
					})
					
				}
				stars[0].addEventListener("mouseleave",function(){
					stars[0].classList.remove("checked");
				})



				
					const banner_area = document.getElementById("home");
					banner_area.classList.add("about-banner");
					banner_area.innerHTML=`
					<div class="overlay overlay-bg"></div>
					<div class="container">				
						<div class="row d-flex align-items-center justify-content-center">
							<div class="about-content col-lg-12">
								<h1 class="text-white">
									Course details		
								</h1>	
								<p class="text-white link-nav"><a href="{% url 'home' %}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{% url 'paginate_courses' %}"> All Courses</a></p>
							</div>	
						</div>
					</div>
					`
	
				
			</script>
{% endblock %}